/java-graph-app/ReaderResults.txt
/java-graph-app/filename.out
/java-graph-app/target
/java-graph-app/Example.docx
/java-graph-app/stemed_word_rus.txt
/java-graph-app/RandomBook.txt
/java-graph-app/.idea/libraries/workspace.xml